.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  button {
    margin-right: 14px;
  }
}
