<div class="col-6 mx-auto mt-5 content">
  <form [formGroup]="formAlbum" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Artist Id</mat-label>
        <input matInput formControlName="artistId" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Album Name</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Photo Url</mat-label>
        <input matInput formControlName="coverUrl" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Album Year</mat-label>
        <input
          matInput
          formControlName="year"
          ngModel
          pattern="[(1909|19[1-9][0-9]|20[0-2][0-9]|2030)]*"
        />
        <div *ngIf="year.errors">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Album Genre</mat-label>
        <input matInput formControlName="genre" />
      </mat-form-field>
    </div>

    <div class="buttons">
      <button type="submit" mat-raised-button color="primary">
        Create Album
      </button>
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
